@model MedicalTest2.Models.EmployeeCategory

<h2>   تعديل اسم التصنيف </h2>

<form asp-action="Edit" method="post">
    <hr />
    <input type="hidden" asp-for="Id" />
    <div class="form-group">
        <label asp-for="Name">الإسم الجديد</label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary mt-4">تعديل وحفظ</button>
</form>
<div>
    @Html.ActionLink("العودة للقائمة", "Index")
</div>