@model IEnumerable<IdentityRole>


@{
    ViewData["Title"] = "Roles";
}

<h1>صلاحيات المستخدم</h1>

<partial name="_RoleForm" model="new RoleFormViewModel()"/>
<table class="table table-active table-striped  table-bordered  mt-4">
    <thead>
        <tr class="bg-primary text-white">
            <td>الإسم</td>
        </tr>
    </thead>
    <tbody>
        @foreach (var role in Model)
        {
            <tr>
                <td>
                    @role.Name
                </td>
            </tr>
        }
    </tbody>
</table>