@model MedicalTest2.Models.Attachment

@{
    ViewData["Title"] = "Details";
}
<h1>التفاصيل</h1>

<div>
    <h4>اسم المرفق </h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
    </dl>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AllowNotification)
        </dt>
        <dd class="col-sm-3">
            @if (Model.AllowNotification)
            {
                <p style=" background-color: aquamarine;">&nbsp;نعم&nbsp;&nbsp;<i class="bi bi-check-circle"></i></p>
            }
            else
            {
                <p style=" background-color: #f2d8d8;">&nbsp;لا&nbsp;&nbsp;<i class="bi bi-x-circle"></i></p>
            }
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">تعديل</a> |
    <a asp-action="Index">العودة للقائمة</a>
</div>
