@page
@model PersonalDataModel
@{
    ViewData["Title"] = "الشخصية البيانات";
    ViewData["ActivePage"] = ManageNavPages.PersonalData;
}

<h4>البيانات الشخصية</h4>

<div class="row">
    <div class="col-md-6">
        <p>يحتوي حسابك على بيانات شخصية قدمتها لنا. تتيح لك هذه الصفحة تنزيل هذه البيانات أو حذفها.</p>
        <p>
            <strong>سيؤدي حذف هذه البيانات إلى إزالة حسابك نهائيًا ، ولا يمكن استرداد ذلك.</strong>
        </p>
        <form id="download-data" asp-page="DownloadPersonalData" method="post" class="form-group">
            <button class="btn btn-primary" type="submit">
                تحميل
            </button>
        </form>
        <p>
            <a id="delete" asp-page="DeletePersonalData" class="btn btn-secondary">حذف</a>
        </p>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
