@model MedicalTest2.Models.Category

<h2>تفاصيل التصنيف</h2>


<dl class="dl-horizontal">
    <dt>
       @Html.Label("الإسم")
    </dt>
    <dd>
        @Html.DisplayFor(r=>r.Name)
        @*@Model.Name*@
    </dd>
</dl>
<div>
    @Html.ActionLink("العودة للقائمة", "Index")
</div>